.card-product {
    display: flex;
    width: 800px;
}

.product-images {
    
    width: 500px;
}

.product-large  {
    width: 100%;
    height: 250px;
    background-size: cover;
    border-radius: 5px;
}

@for $id from 1 through 4 {
    .product-#{$id}  {
        background-image: url(./assets/images/image-product-#{$id}.jpg);
    }
}

.thumblist {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.product-thumb  {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 5px;
}

@for $thumbid from 1 through 4 {
    .product-#{$thumbid}-thumbnail  {
        background-image: url(./assets/images/image-product-#{$thumbid}-thumbnail.jpg);
    }
}

