.product-large  {
    
    width: 250px;
    height: 250px;
    background-size: cover;
}

@for $id from 1 through 4 {
    .product-#{$id}  {
        background-image: url(./assets/images/image-product-#{$id}.jpg);
    }
}